<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	
	<h4>DB連携！</h4>
	
	<form th:action="@{/mydbfirstpra}" th:method="POST">
		<input type="text" name="kensaku">
		<input type="submit" value="検索">
		<th:block th:if="${kensaku != null}">
			<ul>
		        <li th:each="kensakusita : ${kensaku}">
			        <p th:text="${kensakusita.title + ' : ' + kensakusita.price + ' : ' + kensakusita.category}"></p>
		        </li>
	        </ul>
		</th:block>
	</form>
	
	<h5>検索結果一覧</h5>
	<ul>
		<li th:each="singledata : ${kensakukekka}">
			<p th:text="${singledata.name + ' : ' + singledata.hobby}"></p>
		</li>
	</ul>
	
	<hr>
	<h5>練習問題</h5>
	
	<!--↓文法のテンプレです。答えではないよ -->
	<ul>
		<li th:each="singledata : ${kensakupra}">
			<p th:text="${singledata.title + ' : ' + singledata.price + ' : ' + singledata.category}"></p>
		</li>
	</ul>
	
	<h5>応用問題</h5>
	<table>
		<tr>
			<th>商品名</th>
			<th>価格</th>
			<th>カテゴリ</th>
		</tr>
		<tr  th:each="singledata : ${kensakupra}">
			<td><p th:text="${singledata.title}"></p></td>
			<td><p th:text="${singledata.price}"></p></td>
			<td><p th:text="${singledata.category}"></p></td>
		</tr>
	</table>
</body>

</html>