<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text.css" href="css/myfourth.css">
<script type="text.javascript" href="js/myfourth.js"></script>
</head>
<body>

<form th:action="@{/fourthpage}" method="POST">
	名前を入力してね～
	<input type="text" name="param1">
    <input type="submit" value="送信">
    趣味
	<input type="text" name="param2">
    <input type="submit" value="送信">
    出身
	<input type="text" name="bplace">
    <input type="submit" value="送信">
</form>


お前の名前は<p th:text="${userName}"></p>だな！
趣味は<p th:text="${userhobby}"></p>のようです。
あなたの出身地は<p th:text="${usersyussin}"></p>だね？

<p th.text="$model"></p>
</body>
</html>