<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h4>ユーザー名</h4>
<p th:text="${session.userid}"></p>
<h4>座席予約履歴</h4>
<table>
		<tr th:each="singledata:${kensakupra}">
				<td><p th:text=${singledata.yoyakubango}></p></td>
				<td><p th:text=${singledata.yoyakubi}></p></td>
				<td><p th:text=${singledata.yoyakuname}></p></td>
		</tr>
	</table>
<h4>座席予約回数</h4>
<p th:text="${yoyakukaisuu}"></p>
<h4>ユーザーランク</h4>
<p th:text="${userrank}"></p>
</body>
</html>